body {
    background-color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

form {
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #343a40; /* Fondo gris oscuro */
    color: #e9ecef; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    overflow: hidden;
    z-index: 1;
}

form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    border: 4px solid transparent; /* Ancho del borde */
    background: linear-gradient(45deg, #007bff, #00c851, #ff5722, #ffeb3b);
    background-size: 400% 400%;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    transition: background-position 0.5s ease;
    z-index: -1;

}

form:hover::before {
    background-position: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f8f9fa; 
}

.inputs-form {
    width: 100%;
    margin-bottom: 1.5rem;
}

.inputs-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e9ecef; 
}

.inputs-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #495057; 
    border-radius: 0.25rem;
    background-color: #495057; 
    color: #e9ecef; 
}

.Check-box {
    width: 100%;
    margin-bottom: 1.5rem;
}

#boton {
    width: 100%;
    text-align: center;
}

.btn-outline-light {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #e9ecef; 
    color: #e9ecef; 
    background-color: #343a40; 
    border-radius: 0.25rem;
    transition: color 0.3s, 
    background-color 0.3s, 
    border-color 0.3s;
}

.btn-outline-light:hover {
    color: #343a40; 
    background-color: #e9ecef; 
    border-color: #007bff; 
}