<!---------------@Miguel: Navbar--------------------->
      <nav id="navbarMenu">
        <ul id="navList">
            <li class="nav-Items"><a href="#" class="links-Navbar"><i class="fa-solid fa-house"></i> Home</a></li>
            <li class="nav-Items"><a href="#" class="links-Navbar"><i class="fa-solid fa-address-card"></i> About</a> 
            <li class="nav-Items"><a href="#" class="links-Navbar"><i class="fa-solid fa-flask"></i> Experience</a></li>
            <li class="nav-Items"><a href="#" class="links-Navbar"><i class="fa-solid fa-address-book"></i> Contact</a></li></li>
        </ul>
    </nav>  