
     <nav id="navbarMenu1">
       <ul id="navList1">
           <li class="nav-Items1"><a href="#" class="links-Navba1r"><i class="fa-solid fa-house"></i> Home</a></li>
           <li class="nav-Items1"><a href="#" class="links-Navbar1"><i class="fa-regular fa-user"></i> Acerca de</a> 
           <li class="nav-Ite1ms"><a href="#" class="links-Navbar1"><i class="fa-solid fa-wallet"></i> En venta</a></li>
           <li class="nav-Ite1ms"><a href="#" class="links-Navba1r"><i class="fa-solid fa-address-book"></i> Contacto</a></li></li>
           <div class="nav-righ1t">
               <li class="nav-It1ems"><a href="#" class="links1-Navbar"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a></li>
               <li class="nav-Item1s"><a href="#" class="links-1Navbar"><i class="fa-solid fa-user-plus"></i> Regístrate</a></li>
           </div>
       </ul>
   </nav>  
