
     <nav id="navbarMenu">
       <ul id="navList">
           <li class="nav-Items"><a href="../public/index.html" class="links-Navbar"><i class="fa-solid fa-house"></i> Home</a></li>
           <li class="nav-Items"><a href="#" class="links-Navbar"><i class="fa-solid fa-location-dot"></i> Ubicación</a> 
           <li class="nav-Items"><a href="#info-general" class="links-Navbar"><i class="fa-solid fa-info"></i> Información </a></li>
           <div class="nav-right">
               <li class="nav-Items"><a href="../login/login.html" class="links-Navbar"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a></li>
               <li class="nav-Items"><a href="../views/registro.ejs" class="links-Navbar"><i class="fa-solid fa-user-plus"></i> Regístrate</a></li>
           </div>
       </ul>
   </nav>  
