/*containers*/
#navBar-placeholder {
     position: sticky;
     top: 0;
     z-index: 2;
}
 
#navbarMenu {
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #2C2C2C;
     color: white;
     display: flex;
     justify-content: space-between; 
     align-items: center;
     height: 50px; 
}
 
#navList {
     display: flex;
     list-style-type: none;
     margin: 0; 
     padding: 0;
     align-items: center; 
     width: 100%; 
}

/*items*/
ul .nav-Items {
     font-size: 17px;
     font-family: sans-serif;
     padding: 0.1vh 2vw;
     transition: all 0.2s linear;
     display: flex;
     align-items: center; 
}

/*links*/
.links-Navbar {
     color: white;
     text-decoration: none;
}

/*Efecto hover*/
.nav-Items:hover {
     scale: 1.1;
}

.nav-right {
    margin-left: auto; 
    display: flex;
}
 
 /* 
  .navbar a.active {
      color: #ffffff;
      font-weight: bold;
      height: 15px;
      border-bottom: 2px solid #fbffff;
      transition: all 0.4s ease-in;
      scale: 1.1;
  }
 